@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Cookie&family=Sacramento&display=swap');

.body {
   background: $babypeachpink; 
}

.top-bar {
  background: $darkerpink;
}

.title-font {
  font-family: 'Sacramento';
  font-size: 5rem;
}

.links-font {
  font-family: 'Sacramento';
  font-size: 2rem;
  font-style: bold
}


.portfolio-hero-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $darkerpink;
  padding: 2rem 0;
  font-family: 'Sacramento';
  font-size: 2rem;
}

.portfolio-hero-header-description {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;

  li {
    flex: 1 0 200px;
    text-align: center;
    padding: 0 1.25rem;
    position: relative;
    white-space: nowrap;
    font

    &:before {
      content: "*";
      position: absolute;
      left: 0;
      top: 5px;
    }

    &:first-child:before {
      content: "";
    }
  }
}

.portfolio-hero-header-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;

  li {
    margin: 1.25rem;

    a {
      padding-left: 1.875rem;
      padding-right: 1.875rem;
    }
  }
}

