@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Cookie&family=Montserrat:wght@300&family=Sacramento&display=swap');
.body-bg {
  background: $peachypink; 
}

.title-font {
  font-family: 'Sacramento';
  font-size: 5rem;
}

.header-font {
  font-family: 'Sacramento';
  font-style: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-header {
  font-family: 'Sacramento';
  font-style: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
}

.about-text {
  font-family: 'Montserrat';
  margin-left: 10rem;
  margin-right: 10rem;
  font-size: 1.2rem;
  text-align: justify;
  text-justify: auto;
}

.forms {
  font-family: 'Montserrat';
  margin: auto;
  width: 30%;
  padding-top: 1rem
}

.fields {
  label {
    font-size: 1.2rem
  }
}

.page-font {
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  align-items: center;
}

.devise-font {
  font-family: 'Montserrat';
  font-size: 1rem;
}

.nav-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $darkerpink;
  padding-top: 1rem;
  padding-bottom: 0;
  font-family: 'Sacramento';
  font-size: 2rem;
}

.nav-header-description {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;

  li {
    flex: 1 0 200px;
    text-align: center;
    padding: 0 1.25rem;
    position: relative;
    white-space: nowrap;

    &:before {
      content: "*";
      position: absolute;
      left: 0;
      top: 5px;
    }

    &:first-child:before {
      content: "";
    }
  }
}

.margin-padding {
  padding: 2rem;
}

.index-user-photo {
  height: 3rem;
  width: 3rem;
}

.index-piece-photo {
  height: 5rem;
  width: 5rem;
}

.grid-margin-x {
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 2rem;
  row-gap: 2rem;
  column-gap: 2rem;
  border-spacing: 5rem;
}

.collection-piece-photo {
  display: block;
  max-height: 7rem;
  max-width: 7rem;
}

.callout {
  border-radius: 1rem;
  width: 25rem;
  height: 20rem;
}

