@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Cookie&display=swap');

.body {
   background: $babypeachpink; 
}

.top-bar {
  background: $darkerpink;
}

.title-font {
  font-family: 'Clicker Script', cursive;
  font-size: 5rem;
}

